<mat-toolbar color="primary">
  <div class="header-wrapper">
    <div class="logo_title" routerLink="/">
      <mat-icon class="logo"></mat-icon>
      <h1>DataLytics</h1>
    </div>
    <div class="links">
      <ng-container>
        <button mat-raised-button routerLink='/home/keyword' routerLinkActive="underline-active">Airlines</button>
        <button mat-raised-button routerLink='/airports'
          routerLinkActive="underline-active">Airports</button>
        <button mat-raised-button routerLink='/home/update-status' routerLinkActive="underline-active">Planes</button>
        <button mat-raised-button routerLink='/home/update-status' routerLinkActive="underline-active">Weather</button>
        <button mat-raised-button routerLink='/home/update-status' routerLinkActive="underline-active">Flights</button>
      </ng-container>
    </div>
  </div>
</mat-toolbar>
